
<h3> Hello, <%= @user.username %></h3>
<p> These are the events you chose to attend:</p>
<p>Click on each event to find more information!</p>
<% @user.events.each do |event| %>
	<p><a href="/events/<%= event.id %>"><%= event.name %></a></p>
<% end %>

